<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">

<head>
  <meta charset="UTF-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive Footer HTML and CSS | CodingNepal</title>
  <!-- Fonts Links For Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <!-- <link rel="stylesheet" href="style.css" /> -->
</head>

<body>
  <section class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h4>ABOUT US</h4>
        <ul class="links">
          <li><a><mark style="background-color:white" class="has-inline-color has-ast-global-color-5-color">We are a
                client-focused professional services organisation&nbsp; providing tax and accounting services to
                individuals and businesses . Our goal is to provide our clients with the highest levels of technical
                expertise, personalised service, and to help them understand complex tax rules.</mark></a></li>
          <!-- <li><a href="#">Compressions</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Collection</a></li> -->
        </ul>
      </div>

      <div class="footer-col">
        <h4>Office in India</h4>
        <ul class="links">
          <li><a>No.632, 12th B Main, Yelahanka New Town, Bangalore -560064</a></li>
          <br>
          <p>
            <li>+91 8150 007 116<br><a href="https://webmail.growtreegroup.com/" data-type="URL"
                data-id="https://webmail.growtreegroup.com/" target="_blank"
                rel="noreferrer noopener">info@growtreegroup.com</a></li>
          </p>
          <!-- <li><a href="#">Free Designs</a></li>
            <li><a href="#">Latest Designs</a></li>
            <li><a href="#">Themes</a></li>
            <li><a href="#">Popular Designs</a></li>
            <li><a href="#">Art Skills</a></li>
            <li><a href="#">New Uploads</a></li> -->
        </ul>
      </div>

      <div class="footer-col">
        <h4>Our Locations</h4>
        <ul class="links">
          <li><a>Bangalore</a></li>
          <br>
          <li> <a rel="privacy-policy" href="https://growtreegroup.com/privacy-policy/" class="menu-link">Privacy
              Policy</a></li>
          <li><a href="https://growtreegroup.com/return-and-refund-policy/" class="menu-link">Return and Refund
              Policy</a></li>

          <li id="menu-item-1006" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1006"><a
              href="https://growtreegroup.com/terms-and-conditions/" class="menu-link">Terms and Conditions</a></li>
          <br>

          <!-- <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">GDPR</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Media Kit</a></li> -->
        </ul>
      </div>

      <!-- <div class="icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
        </div> -->


      <div class="footer-col">
        <h4>Newsletter</h4>
        <form action="#">
          <input type="text" placeholder="Your email" required>
          <button type="submit">SUBSCRIBE</button>
        </form>
        <div class="ast-footer-copyright">
          <p>Copyright © 2023 GROWTREE GROUP</p>
        </div>
        <div class="icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
        </div>

      </div>
    </div>
  </section>
</body>

</html>